*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #333;
    color: #f1f1f1;
    height: 100px;
}

.menu{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 20px;
    align-items: center;
    border-left: 15px solid #808080;
}

.nav{
    display: flex;
    gap: 20px;
}

.nav a{
    color: #f1f1f1;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.nav a:hover{
    text-decoration: underline;
    color: #1E90FF;
    transition: color 0.3s ease;
    transform: scale(1.20);
}

.cards{
    display: flex;
    justify-content: center;
    padding: 40px;
    gap: 25px;
    flex-wrap: wrap;
}

.produt{
    background-color: #222;
    width: 250px;
    padding: 25px;
    border-bottom: 5px solid #808080;
    border-left: 5px solid #808080;
    border-radius: 10px;
}

.produt h2{
    font-size: 30px;
    margin-bottom: 15px;
}
.produt p{
    font-size: 15px;
    margin-bottom: 15px;
}

.produt button{
    background-color: #808080;
    color: #f1f1f1;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.produt button:hover{
    background-color: #1E90FF;
    transition: background-color 0.3s ease;
    transform: scale(1.20);
}

.footer{
    background-color: #222;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.redes-socias img{
    width: 25px;
    height: 25px;
    justify-content: center;
}

.footer p{
    font-size: 16px;
}

.redes-socias a{
    display: flex;
    gap: 20px;
}